<div class="achievements">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2>OUR <span class="font-var"><em>Achievements</em></span></h2>
    </div>
  </div>
  <div class="slick-slider achievements-slider">
      <div class="text-center">
      <img src="gfx/thirteen.png" class="img-responsive"/>

      <p>Included in City AM's Leap 100 List of fast-moving UK companies</p>
    </div>
    <div class="text-center">
      <img src="gfx/one.png" class="img-responsive"/>
      <p>Ranked No. 11 on the 15th annual Sunday Times Hiscox Tech Track 100</p>
    </div>
    <div class="text-center">
      <img src="gfx/two.png" class="img-responsive"/>
      <p> Wired magazine's 'Europe's 100 Hottest Start-Ups' </p>
    </div>
    <div class="text-center">
      <img src="gfx/three.png" class="img-responsive"/>
      <p>Identified by Inc.com as one of the top 15 London start-ups to watch in 2015</p>
    </div>
    <div class="text-center">
      <img src="gfx/four.png" class="img-responsive"/>
      <p>Announced as the UK's fourth fastest growing young technology company by The Next Web </p>
    </div>
    <div class="text-center">
      <img src="gfx/five.png" class="img-responsive"/>
      <p>Programme of structured engagement developing & supporting ambitious private companies through their next
        stage of growth</p>
    </div>
    <div class="text-center">
      <img src="gfx/six.png" class="img-responsive"/>
      <p>Became a member of Accelerate 250 as the UK's fastest growing business in 2013</p>
    </div>
    <div class="text-center">
      <img src="gfx/seven.png" class="img-responsive"/>
      <p>Shortlisted for the best use of programmatic technology and the smart use of data </p>
    </div>
    <div class="text-center">
      <img src="gfx/eight.png" class="img-responsive"/>
      <p>Drum Digital Trading (2014 & 2015)</p>
    </div>
    <div class="text-center">
      <img src="gfx/nine.png" class="img-responsive"/>
      <p>Chosen by Silicon Valley Comes to UK for their &#163; 100m Revenue Club &#8212; an elite group of UK businesses with the potential to hit &#163; 100m revenue in under 5 years</p>
    </div>
    <div class="text-center">
      <img src="gfx/ten.png" class="img-responsive"/>

      <p>Developing Entrepreneur of the Year Award at the WCIT Enterprise Awards</p>
    </div>
    <div class="text-center">
      <img src="gfx/eleven.png" class="img-responsive"/>

      <p>Double winner &#8212; among 100s of other non-tech businesses &#8212; at the Startups Awards; The Digital Business of 2013 and The Innovative Business of 2013</p>
    </div>
    <div class="text-center">
      <img src="gfx/twelve.png" class="img-responsive"/>

      <p>Smarta's Most Disruptive UK Startup 2011</p>
    </div>
  </div>
</div>