<!-- OUR CLIENTS  -->
<div class="clients">
  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="row spacer"></div>
      <h2 class="turq-text">OUR <span class="font-var"><em>Clients</em></span></h2></div>
  </div>
  <div class="row blurry-blue hidden-xs">
    <div class="col-xs-12 pad-top"><img src="gfx/home/home_clients_1366px.jpg" class="img-responsive"></div>
  </div>
  <div class="row visible-xs">
    <div class="col-xs-12 pad-top"><img src="gfx/home/home_clients_480px_v2.jpg" width="100%"></div>
  </div>
</div>
<!-- OUR CLIENTS END  -->