<!-- FOOTER BEGIN -->
<div style="max-width:1366px; margin:0 auto; overflow: hidden;">

  <!-- FOOTER PT1 -->
  <div class="row footer-one purple pad-side">
    <div style="max-width:1366px; margin:0 auto; overflow: hidden;">

      <div class="col-xs-12 col-sm-3 padded"><a href="/"><img src="../gfx/affectiv-logo-footer-2.png"></a>

        <div class="footer-nav">
          <ul>
            <li><a href="../aboutus">About Us</a></li>
            <li><a href="http://blog.affectv.com/" target="_new">Our Blog</a></li>
            <li><a href="../contactus">Contact Us</a></li>
            <li><a href="../careers">Careers</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5 pad-side text-center">
        <img src="../gfx/three-pees-bottom.png" class="img-responsive" style="max-height: 196px;">
      </div>
      <div class="col-xs-12 col-sm-4 padded text-right">
        <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-10 turquoise foot-but text-center">
            <a href="../travel">Travel<a/></div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-10 gold foot-but text-center"><a href="../retail">Retail</a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-10 light-purple foot-but text-center"><a href="../tech">Technology</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- FOOTER PT1 end -->


  <!-- FOOTER PT2 -->
  <div class="row footer-two"
       style="background: url(../gfx/footer-back.jpg) no-repeat fixed 0px 100%; background-size:cover">

    <!--- TOP OVERLAY -->
    <div class="slide-overlay turquoise " style="max-width:1366px; margin:0 auto; overflow: hidden;">
      <div class="row pad-side back-bottom-co">
        <div class="slide-overlay-text">
          <div style="max-width:1366px; margin:0 auto;">
            <div class="col-xs-12 col-sm-6 address padded">

              <div class="social-icon">
                <a href="http://www.facebook.com/affectv" target="_new" style="color:#FFF"><i
                    class="fa fa-facebook"></i></a> &nbsp;
                <a href="https://www.linkedin.com/company/affectv" target="_new" style="color:#FFF"><i
                    class="fa fa-linkedin"></i></a> &nbsp;
                <a href="https://www.twitter.com/affectv" target="_new" style="color:#FFF"><i
                    class="fa fa-twitter"></i></a>

              </div>
              <p>+44 (0)203 701 6785</p>
              <ul class="footer-contact-list">
                <li>Black & White Building</li>
                <li>74 Rivington Street</li>
                <li>London</li>
                <li>EC2A 3AY</li>
              </ul>
              <p>
                <a href="/privacy" style="color: #fff;">Privacy Policy</a> | <a href="/opt-out" style="color: #fff;">Opt Out</a> | <a href="/brand-safety" style="color: #fff;">Brand Safety</a>
              </p>
            </div>
            <div class="col-xs-12 col-sm-6 sign-up padded">
              Sign up to our newsletter and receive relevant content every month. Dont worry - we take privacy seriously
              and will never share your details.
              <br/> &nbsp; <br/>

              <form
                  action="http://affectv.us7.list-manage.com/subscribe/post?u=9bd418b175660e19965661c0d&amp;id=4828f88e77"
                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                  class="validate" target="_blank" novalidate>
                <div class="form-group">
                  <label for="mce-EMAIL" class="sr-only">Email Address</label>
                  <input placeholder="Email Address" class="form-control" name="EMAIL"
                         class="bottom-email" id="mce-EMAIL" required="" type="email"><br/>
                </div>
                <div class="form-group">
                  <input value="SIGN UP!" name="subscribe" id="mc-embedded-subscribe"
                         class="signup-but" type="submit">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--- FOOTER IMAGE -->
    <div class="hidden-xs">
      <div class="row topslide" style="padding:0; margin: 0;">
        <div class="col-sm-12" style="padding:0; margin: 0px auto 0; height:400px; overflow:hidden; ">

        </div>
      </div>
    </div>
    <!--- FOOTER IMAGE END-->
  </div>
  <!-- FOOTER PT2 end -->
</div>
<!--FOOTER END-->
    
    
 



    
