<div class="gallery">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2>SignalAds&trade; <span class="font-var"><em>Gallery</em></span></h2>
      <h3>100% <em>prediction;</em> 100% <em>pure prospecting</em></h3>
      <h3 style="font-weight: normal;">Use existing customer behaviour to cut through the complex decision making for tech prospects</h3>
    </div>
  </div>
  <div class="row greytwo">
      <div class="ad-slider">
        <div class="ad-block">
          <a href="" class="play-ad"
             data-iframe-src="http://ad.go.affec.tv/signalad/54b93a2f0189607081dbd60d/demo.html">
            <iframe class="ad-iframe" src="" width="300" height="250" scrolling="no"></iframe>
            <img src="gfx/signalads/sage.jpg" class="img-responsive ad-image" />
          </a>
        </div>

        <div class="ad-block">
          <a href="" class="play-ad"
             data-iframe-src="http://ad.go.affec.tv/signalad/55db46f96de56f000de7bc1a/demo.html">
            <iframe class="ad-iframe" src="" width="300" height="250" scrolling="no"></iframe>
            <img src="gfx/signalads/norton.jpg" class="img-responsive ad-image" />
          </a>
        </div>

        <div class="ad-block">
          <a href="" class="play-ad"
             data-iframe-src="http://ad.go.affec.tv/signalad/55df2cf86de56f000de7bc57/demo.html">
            <iframe class="ad-iframe" src="" width="300" height="250" scrolling="no"></iframe>
            <img src="gfx/signalads/rackspace.jpg" class="img-responsive ad-image" />
          </a>
        </div>

        <div class="ad-block">
          <a href="" class="play-ad"
             data-iframe-src="http://ad.go.affec.tv/signalad/5466134f0189605e03fac587/demo.html">
            <iframe class="ad-iframe" src="" width="300" height="250" scrolling="no"></iframe>
            <img src="gfx/signalads/carphone-warehouse.jpg" class="img-responsive ad-image" />
          </a>
        </div>

        <div class="ad-block">
          <a href="" class="play-ad"
             data-iframe-src="http://ad.go.affec.tv/signalad/54c8b64c0189607081dbd9f5/demo.html">
            <iframe class="ad-iframe" src="" width="300" height="250" scrolling="no"></iframe>
            <img src="gfx/signalads/logitech.jpg" class="img-responsive ad-image" />
          </a>
        </div>

        <div class="ad-block">
          <a href="" class="play-ad"
             data-iframe-src="http://ad.go.affec.tv/signalad/5465f9080189605e03fac509/demo.html">
            <iframe class="ad-iframe" src="" width="300" height="250" scrolling="no"></iframe>
            <img src="gfx/signalads/acer.jpg" class="img-responsive ad-image" />
          </a>
        </div>
      </div>
  </div>
</div>