<div class="gallery">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2>SignalAds&trade; <span class="font-var"><em>Gallery</em></span></h2>

      <h3>100% <em>prediction;</em> 100% <em>pure prospecting</em></h3>

      <h3 style="font-weight: normal;">Blend your key brand goals with a dynamic destination-driven creative for each individual prospect</h3>
    </div>
  </div>
  <div class="row greytwo">
    <div class="ad-slider">
      <div class="ad-block">
        <a href="" class="play-ad"
           data-iframe-src="http://demo.affectv.co.uk/signalad/proposals/travel-dynamic/starwood/300x250.html">
          <iframe class="ad-iframe" src="" width="300" height="250" scrolling="no"></iframe>
          <img src="/gfx/signalads/starwood.jpg" class="img-responsive ad-image"/>
        </a>
      </div>
      <div class="ad-block">
        <a href="" class="play-ad"
           data-iframe-src="http://demo.affectv.co.uk/signalad/select/ads/thomson/ads/interest_0/300x250.html">
          <iframe class="ad-iframe" src="" width="300" height="250" scrolling="no"></iframe>
          <img src="/gfx/signalads/thomson-crete-select.jpg" class="img-responsive ad-image"/>
        </a>
      </div>
      <div class="ad-block">
        <a href="" class="play-ad"
           data-iframe-src="http://ad.go.affec.tv/signalad/560e3ed6da2d23000bc3a6a1/demo.html">
          <iframe class="ad-iframe" src="" width="300" height="250" scrolling="no"></iframe>
          <img src="/gfx/signalads/royal-car.png" class="img-responsive ad-image"/>
        </a>
      </div>
      <div class="ad-block">
        <a href="" class="play-ad"
           data-iframe-src="http://demo.affectv.co.uk//signalad/proposals/travel-dynamic/cards/europcar/berlin-300x250.html">
          <iframe class="ad-iframe" src="" width="300" height="250" scrolling="no"></iframe>
          <img src="/gfx/signalads/europcar-berlin-select.jpg" class="img-responsive ad-image"/>
        </a>
      </div>
      <div class="ad-block">
        <a href="" class="play-ad"
           data-iframe-src="http://demo.affectv.co.uk/signalad/select/ads/hilton/ads/interest_0/300x250.html">
          <iframe class="ad-iframe" src="" width="300" height="250" scrolling="no"></iframe>
          <img src="/gfx/signalads/hilton-paris-select.jpg" class="img-responsive ad-image"/>
        </a>
      </div>
      <div class="ad-block">
        <a href="" class="play-ad"
           data-iframe-src="http://ad.go.affec.tv/signalad/55fad428a27b40000d2ae97d/demo.html">
          <iframe class="ad-iframe" src="" width="300" height="250" scrolling="no"></iframe>
          <img src="/gfx/signalads/avios.jpg" class="img-responsive ad-image"/>
        </a>
      </div>
    </div>
  </div>
</div>