<div class="gallery">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2>SignalAds&trade; <span class="font-var"><em>Gallery</em></span></h2>

      <h3>100% <em>prediction;</em> 100% <em>pure prospecting</em></h3>

      <h3 style="font-weight: normal;">Bring all the key drivers of online retail behaviour into the ad including time pressure, customer endorsement and product recommendation</h3>
    </div>
  </div>
  <div class="row greytwo">
    <div class="ad-slider">
      <div class="ad-block">
        <a href="" class="play-ad"
           data-iframe-src="http://demo.affectv.co.uk/signalad/proposals/travel-dynamic/marks/marks/london-300x250.html">
          <iframe class="ad-iframe" src="" width="300" height="250" scrolling="no"></iframe>
          <img src="/gfx/signalads/marks_select.jpg" class="img-responsive ad-image"/>
        </a>
      </div>
      <div class="ad-block">
        <a href="" class="play-ad"
           data-iframe-src="http://ad.go.affec.tv/signalad/54e7742301896076446dd98e/demo.html">
          <iframe class="ad-iframe" src="" width="300" height="250" scrolling="no"></iframe>
          <img src="/gfx/signalads/sis.jpg" class="img-responsive ad-image"/>
        </a>
      </div>
      <div class="ad-block">
        <a href="" class="play-ad"
           data-iframe-src="http://ad.go.affec.tv/signalad/55daf1f59032020013302094/demo.html">
          <iframe class="ad-iframe" src="" width="300" height="250" scrolling="no"></iframe>
          <img src="/gfx/signalads/tommy-hilfiger.jpg" class="img-responsive ad-image"/>
        </a>
      </div>
      <div class="ad-block">
        <a href="" class="play-ad"
           data-iframe-src="http://ad.go.affec.tv/signalad/550ffe15b5482f000ebd3498/demo.html">
          <iframe class="ad-iframe" src="" width="300" height="250" scrolling="no"></iframe>
          <img src="/gfx/signalads/diesel.jpg" class="img-responsive ad-image"/>
        </a>
      </div>
      <div class="ad-block">
        <a href="" class="play-ad"
           data-iframe-src="http://ad.go.affec.tv/signalad/543bbf4801896031d546f10e/demo.html">
          <iframe class="ad-iframe" src="" width="300" height="250" scrolling="no"></iframe>
          <img src="/gfx/signalads/buy-a-gift.jpg" class="img-responsive ad-image"/>
        </a>
      </div>
      <div class="ad-block">
        <a href="" class="play-ad"
           data-iframe-src="http://ad.go.affec.tv/signalad/549961580189601b7594d737/demo.html">
          <iframe class="ad-iframe" src="" width="300" height="250" scrolling="no"></iframe>
          <img src="/gfx/signalads/laura-ashley.jpg" class="img-responsive ad-image"/>
        </a>
      </div>
    </div>
  </div>
</div>