<div class="gallery">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2>SignalAds&trade; <span class="font-var"><em>Gallery</em></span></h2>

      <h3>100% <em>prediction;</em> 100% <em>pure prospecting</em></h3></div>
  </div>
  <div class="row greytwo">
    <div class="ad-slider">
      <div class="ad-block">
        <a href="" class="play-ad" data-iframe-src="http://ad.go.affec.tv/signalad/560e3ed6da2d23000bc3a6a1/demo.html">
          <iframe class="ad-iframe" src="" width="300" height="250" scrolling="no"></iframe>
          <img src="gfx/signalads/royal-car.png" class="img-responsive ad-image"/>

          <p>Utilise time pressure on high intent prospects to drive strong ROI at key sales periods, delivery deadlines and key seasonal initiatives</p>
        </a>
      </div>

      <div class="ad-block">
        <a href="" class="play-ad"
           data-iframe-src="https://ad.go.affec.tv/st/55d2e7e69032020012302078/1/an.html">
          <iframe class="ad-iframe" src="" width="300" height="250" scrolling="no"></iframe>
          <img src="gfx/signalads/santander.jpg" class="img-responsive ad-image"/>

          <p>Take your owned content to consumers and show them relevant articles or stories based on their key interests as they move around the web</p>
        </a>
      </div>

      <div class="ad-block">
        <a href="" class="play-ad"
           data-iframe-src="http://ad.go.affec.tv/signalad/55daf1f59032020013302094/demo.html">
          <iframe class="ad-iframe" src="" width="300" height="250" scrolling="no"></iframe>
          <img src="gfx/signalads/tommy-hilfiger.jpg" class="img-responsive ad-image"/>

          <p>Use live activity data from your website to drive first time engagement from new prospects</p>
        </a>
      </div>

      <div class="ad-block">
        <a href="" class="play-ad"
           data-iframe-src="http://demo.affectv.co.uk/signalad/proposals/travel-dynamic/marks/marks/london-300x250.html">
          <iframe class="ad-iframe" src="" width="300" height="250" scrolling="no"></iframe>
          <img src="gfx/signalads/marks_select.jpg" class="img-responsive ad-image"/>

          <p>Put individual product recommendations in front every individual consumer,targeting new prospects who have not visited your site</p>
        </a>
      </div>

      <div class="ad-block">
        <a href="" class="play-ad"
           data-iframe-src="http://demo.affectv.co.uk/signalad/select/ads/thomson/ads/interest_0/300x250.html">
          <iframe class="ad-iframe" src="" width="300" height="250" scrolling="no"></iframe>
          <img src="gfx/signalads/thomson-crete-select.jpg" class="img-responsive ad-image"/>

          <p>Show relevant destination-based offers to each individual travel prospects</p>
        </a>
      </div>

      <div class="ad-block">
        <a href="" class="play-ad"
           data-iframe-src="http://ad.go.affec.tv/signalad/555f6129d120ab000f02f8d0/demo.html">
          <iframe class="ad-iframe" src="" width="300" height="250" scrolling="no"></iframe>
          <img src="gfx/signalads/nutmeg.jpg" class="img-responsive ad-image"/>

          <p>Use your existing customer data to create passive endorsement of your products or services</p>
        </a>
      </div>

      <div class="ad-block">
        <a href="" class="play-ad"
           data-iframe-src="http://ad.go.affec.tv/signalad/54e7742301896076446dd98e/demo.html">
          <iframe class="ad-iframe" src="" width="300" height="250" scrolling="no"></iframe>
          <img src="gfx/signalads/sis.jpg" class="img-responsive ad-image"/>

          <p>Leverage existing transaction data to drive action from high intent prospects</p>
        </a>
      </div>

      <div class="ad-block">
        <a href="" class="play-ad"
           data-iframe-src="http://ad.go.affec.tv/signalad/546ded4b01896028ffd2927a/demo.html">
          <iframe class="ad-iframe" src="" width="300" height="250" scrolling="no"></iframe>
          <img src="gfx/signalads/kobo.jpg" class="img-responsive ad-image"/>

          <p>Use purchase behaviour of your existing customers to entice new prospects</p>
        </a>
      </div>

      <div class="ad-block">
        <a href="" class="play-ad"
           data-iframe-src="http://demo.affectv.co.uk/signalad/proposals/soundcloud/tieks.html">
          <iframe class="ad-iframe" src="" width="300" height="250" scrolling="no"></iframe>
          <img src="gfx/signalads/soundcloud.jpg" class="img-responsive ad-image"/>

          <p>Bring your audio content directly into the ad experience and showcase to avid online audio streamers</p>
        </a>
      </div>
    </div>
  </div>
</div>