<div class="purple social-top">
  <div class="row">
    <div class="hidden-xs">
      <div class="col-sm-10"> </div>
      <div class="col-sm-2 social-icon-top">
            <a href="http://www.facebook.com/affectv" target="_new"><i class="fa fa-facebook"></i></a> &nbsp;
            <a href="https://www.linkedin.com/company/affectv" target="_new"><i class="fa fa-linkedin"></i></a> &nbsp;
            <a href="https://www.twitter.com/affectv" target="_new"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar masthead purple">
      <nav>
        <ul class="nav nav-justified">
          <li class="visible-xs text-center">
            <a href="/"><img src="../gfx/affectiv-logo.png"> </a>
          </li>
          <li class="hidden-xs"></li>
          <li><a href="../aboutus">About Us</a> </li>
          <li><a href="http://news.affectv.com/" target="_new">Our Blog</a> </li>
          <li class="hidden-xs text-center">
            <a href="/"><img src="../gfx/affectiv-logo.png" border="0"> </a>
          </li>
          <li><a href="../contactus">Contact Us</a> </li>
          <li><a href="../careers">Careers</a> </li>
          <li class="hidden-xs"></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="subnav">
    <div class="subnav-holder">
      <div class="row">
        <div class="col-xs-12 col-sm-4 subnav-button" style="background-color: #5e3592;"><a href="../travel">Travel</a> </div>
        <div class="col-xs-12  col-sm-4 subnav-button" style="background-color: #553086;"><a href="../retail">Retail</a> </div>
        <div class=" col-xs-12 col-sm-4 subnav-button" style="background-color: #4d2c7a;"><a href="../tech">Technology</a> </div>
      </div>
    </div>
  </div>
</div>